@model BusinessObject.ViewModel.PostViewModel

@{
    ViewBag.PageTitle = "Create new post";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Posts = true;

}

@section Head {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css" rel="stylesheet" />
}


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />
<link rel="icon" type="image/x-icon" href="~/assets/images/favicon.ico">
<link rel="stylesheet" href="~/assets/css/main.css">

<!-- Page Content -->
<h1 class="h3 d-inline">@ViewBag.PageTitle</h1>
<hr />
@using (Html.BeginForm("Create", "Post", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-lg-9 col-md-12 mb-3">
            <div class="card">
                <div class="card-body">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Content.Title, "*Blog Title", new { @class = "control-label" })
                        @Html.EditorFor(model => model.Content.Title, new { htmlAttributes = new { @class = "form-control", @autofocus = "autofocus", @placeholder = "Title" } })
                        @Html.ValidationMessageFor(model => model.Content.Title, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Content.MetaTitle, "Meta Title", new { @class = "control-label" })
                        @Html.EditorFor(model => model.Content.MetaTitle, new { htmlAttributes = new { @class = "form-control", @autofocus = "autofocus", @placeholder = "Meta Title" } })
                        @Html.ValidationMessageFor(model => model.Content.MetaTitle, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Content.MetaKeyword, "Meta Keyword", new { @class = "control-label" })
                        @Html.EditorFor(model => model.Content.MetaKeyword, new { htmlAttributes = new { @class = "form-control", @autofocus = "autofocus", @placeholder = "Meta Keyword" } })
                        @Html.ValidationMessageFor(model => model.Content.MetaKeyword, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Content.MetaKeywordDescription, "Meta Keyword Description", new { @class = "control-label" })
                        @Html.EditorFor(model => model.Content.MetaKeywordDescription, new { htmlAttributes = new { @class = "form-control", @autofocus = "autofocus", @placeholder = "Meta Keyword Description" } })
                        @Html.ValidationMessageFor(model => model.Content.MetaKeywordDescription, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <input type="file" name="file" id="file" />
                        @Html.ValidationMessageFor(model => model.Content.OgImagePath, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Content.OgImageAlt, "Og Image Alt Tag", new { @class = "control-label" })
                        @Html.EditorFor(model => model.Content.OgImageAlt, new { htmlAttributes = new { @class = "form-control", @autofocus = "autofocus", @placeholder = "Image alt tag" } })
                        @Html.ValidationMessageFor(model => model.Content.OgImageAlt, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Content.Slug, "*Slug", new { @class = "control-label" })
                        @Html.EditorFor(model => model.Content.Slug, new { htmlAttributes = new { @class = "form-control", @autofocus = "autofocus", @placeholder = "Post Slug" } })
                        @Html.ValidationMessageFor(model => model.Content.Slug, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.CategoryId, "*Category", new { @class = "control-label" })
                        @Html.DropDownListFor(
                        model => model.CategoryId,
                                        new MultiSelectList(Model.Categories, "Id", "Name"),
                                        "-- Select Category --",
                                        new { @class = "form-control", @autofocus = "autofocus" }
                                        )
                    @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                </div>

                    <div class="form-group">
                        @Html.TextAreaFor(model => model.Content.ContentBody, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Content.ContentBody, "", new { @class = "text-danger" })
                    </div>

                </div>
                <div class="card-footer text-left col-md-2">
                    <input type="submit" class="btn btn-primary btn-block" value="Publish" />
                </div>

            </div>
        </div>
        
                 
                  
                </div>
              
}

@section Scripts {


    
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>


    <!-- Include Summernote JS -->
	<script src="~/summernote/summernote-bs4.min.js"></script>


    <script>
        $(function() {
            $('#Content_ContentBody').summernote({
                placeholder: 'Content Body',
                tabsize: 3,
                height: 300,
                fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', 'Calibri'], // Add Calibri to this array
                fontNamesIgnoreCheck: ['Calibri'], // Ignore font check for Calibri
                callbacks: {
                    onInit: function () {
                        // Optional: Set Calibri as the default font for the editable area
                        $('.note-editable').css('font-family', 'Calibri');
                    }
                }
            });
        });
    </script>
}

