@* @model BusinessObject.ViewModel.BlogViewModel *@

@model BusinessObject.ViewModel.BlogCategoryCreateViewModel
@{
    ViewBag.PageTitle = "Edit Category";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="h3 d-inline">@ViewBag.PageTitle</h1>
<hr />

    <div class="col-md-4">

        @using (Html.BeginForm("Edit", "BlogCategories", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Id)

            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Title)
                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control", autofocus = "autofocus" })
                        @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Slug)
                        @Html.TextBoxFor(m => m.Slug, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Slug, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="card-footer text-right">
                    <input type="submit" class="btn btn-primary" value="Update" />
                </div>
            </div>
        }
    </div>
</div>
